{% load django_bootstrap5 %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Filmes</title>

    {% bootstrap_css %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'catalogo:lista_filmes' %}">Catálogo de Filmes</a>
        </div>
    </nav>

    <main class="container">
        <div class="pb-2 mb-2 border-bottom">
            <h2>{% block page_header %}{% endblock page_header%}</h2>
        </div>
    </main>
        {% bootstrap_javascript %}
</body>
</html>