{% extends "catalogo/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    Meus Filmes Assistidos
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'catalogo:novo_filme' %}" class="btn btn-primary">Adicionar Filme</a>
    </p>

    <ul class="list-unstyled">
        {% for filme in filmes %}
            <li class="mb-3 p-3 border rounded">
                <div class="row">
                    {% if filme.poster %}
                    <div class="col-md-3">
                        <img src="{{ filme.poster.url }}" class="img-fluid rounded" alt="{{ filme.titulo }}">
                    </div>
                    {% endif %}
                    <h4>{{ filme.titulo }}
                    <a href="{% url 'catalogo:editar_filme'  filme.id %}" class="btn btn-sm btn-secondary float-right">Editar</a>
                    <a href="{% url 'catalogo:apagar_filme'  filme.id %}" class="btn btn-sm btn-danger float-right mr-2">Apagar</a>
                    </h4>
                    <p>
                        <strong>Diretor:</strong> {{ filme.diretor }} <br>
                        <strong>Ano de lançamento:</strong> {{ filme.ano_lancamento }}
                    </p>
                </div>
            </li>
        {% empty %}
            <li class="alert alert-info">Não há filmes cadastrados... Ainda!</li>
        {% endfor %}
    </ul>
{% endblock content %}